html, body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: darkslategrey;
}

canvas {
  margin: auto;
  display: block;
}

h1, p {
  text-align: center;
}


/* img{
  width: auto;
  height: auto;
}

div{
  width: 250px;
  height: 250px;
  background-image: url('');
  background-size: auto;
} */
